<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dish</title>
</head>
<body>
{% block content %}

<h1>
    {{ dish.name }}
</h1>
<p>{{ dish.veg }}</p>
<p>{{ dish.description }}</p>
<p>${{ dish.price }}</p>
{% if dish.image %}
    <p><img src="{{ dish.image }}"/></p>
{% endif %}
<form action="{% url "cart:cart_add" dish.id %}" method="post">
    {{ cart_add_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
<p>Served by <a href="{% url 'kitchen:kitchen_details' kitchen.id %}">{{ kitchen.name }}</a></p>

{% endblock %}

{% block footer %}

{% endblock %}
</body>
</html>