{% extends "base.html" %}

{% block title %}
    Kitchen
{% endblock %}

{% block content %}
<h1>
    {{ kitchen.name }}

</h1>
<p>
{% if kitchen.days.Monday == 1 %}
Mon {% endif %}
{% if kitchen.days.Tuesday == 1 %}
Tue {% endif %}
{% if kitchen.days.Wednesday == 1 %}
Wed {% endif %}
{% if kitchen.days.Thursday == 1 %}
Thur {% endif %}
{% if kitchen.days.Friday == 1 %}
Fri {% endif %}
{% if kitchen.days.Saturday == 1 %}
Sat {% endif %}
{% if kitchen.days.Sunday == 1 %}
Sun {% endif %}
</p>
<p>{{ kitchen.start_time }}</p>
<p>{{ kitchen.end_time }}</p>
{% if kitchen.image %}
<p><img src="{{ kitchen.image.url }}" style="width: 120px"/></p>
{% endif %}
<h2>
<a href="{% url 'kitchen:dish_list' kitchen.id %}">Menu</a>
</h2>
{% if request.user == kitchen.user %}
    <a href="{% url 'kitchen:kitchen_update' kitchen.id %}">edit kitchen info</a>
    <a href="{% url 'kitchen:dish_new' kitchen.id %}">add dishes</a>
{% endif %}
{% endblock %}
{% block footer %}

{% endblock %}
