{% extends "base.html" %}

{% block title %}
    Order
{% endblock %}

{% block content %}
<body>
    <h1>Order Detail</h1>
    <p>Order No. {{ order.id }}</p>
    <p>Name: {{ order.first_name }} {{ order.last_name }}</p>
    <p>Address: {{ order.address }}</p>
    <p>Delivery: {{ order.delivery }}</p>
    <p>Provider: {{ order.provider.name }}</p>

    <table>
        <tr>
            <th>Dish</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in items %}
    <tr>
        <td>{{ item.dish.name }}</td>
        <td>${{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.get_cost }}</td>
    </tr>
        {% endfor %}
    </table>


    <p>Total: ${{ order.get_total_cost }}</p>
</body>
{% endblock %}